#mess_new_nick.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
            .modal-body
                .span Извините, пользователь с таким именем уже существует.
            .modal-footer
                //.btn.pull-right.btn-group
                button.btn.btn-danger#btn_to_main(type='button', value = 'cancel') Я подумаю, что делать
                button.btn.btn-success#btn_to_register(type='button', value = 'nextAttempt') Я введу другое имя
